body{
    margin: 0px;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
    


}


h1{
    margin-top: 0px;
    font-size: 50px;

}

.top-container{
    background-color: #e4f9f5;
    padding-top: 230px;
    
}


.top-cloud{
    position: absolute; 
    top: 50px;
    right: 200px;


}

.bottom-cloud{
    position: absolute;
    bottom: 250px;
    left: 200px;

}

.dp-img{
    width: 12%;
    padding-top: 80px;
    /* border: solid red 2px;
    border-radius: 100%; */

}


.mid-container{
    background-color: red;
    width: 200px;
    height: 200px;
    
}

#mid-para{
    width: 550px;
    margin: auto;
    line-height: 2;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.Programming-Languages-img{
    width: 22%;
    float: left;    
    margin-right: 50px;
}

.Projects-img{
    width: 20%;
    float: right;
    margin-left: 30px;

}

.Hobbies-img{
    width: 22%;
    float: left;
    margin-right: 50px;

}

.last-container{
    background-color: blue;
    width: 200px;
    height: 200px;

}

h1{
    font-family: 'Homemade Apple', cursive;
    color: #66bfbf;
    line-height: 50px;
}

h2{
    color: #66bfbf;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
    
}

h3{
    color: #66bfbf;
    font-size: 20px;
    font-family: 'Paytone One', sans-serif;
    
}

hr{
    border-style: dotted none none;
    width: 4%;
    border-color: gray;
    border-width: 7.5px;
    margin: 80px auto 80px auto;
}

.contact-me{
    margin-bottom: 50px;
    
}

#contact-me-para{
    padding-bottom: 40px;
    width: 550px;
    margin: auto;
    line-height: 2;
    
}

.btn{
    background-color: #66bfbf;
    text-decoration: none;
    color: #e4f9f5;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    margin: 22px auto auto auto;
    /* padding: 0px 0px 0px 0px; */

}

.bottom-container{
    background-color: #66bfbf;
    padding-top: 50px;
    
}

#bottom-para{
    color: #EAF6F6;
    font-size: 12px;
    padding: 20px 0px 40px 0px;
}

.footer-link{
    padding: 30px;
    text-decoration: none;
    color: #11999E;
    font-size: 19px;


}

